<div class="col-lg-12 col-sm-12 col-md-12">
  <div class="card">
    <div class="card-header">
      Barra de progreso
    </div>
    <div class="card-body">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" 
            role="progressbar" aria-valuenow="50" aria-valuemin="0" 
            [attr.ariaValuemax]="progreso1" aria-valuemax="50" [style.width]="progreso1 + '%'"></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" 
            role="progressbar" aria-valuenow="50" aria-valuemin="0"
            [attr.ariaValuemax]="progreso2" aria-valuemax="50" [style.width]="progreso2 + '%'"></div>
      </div>  
    </div>
  </div>
</div><!--/.col-->
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="card">
      <div class="card-header">
        Card title
      </div>
      <div class="card-body">
        <app-incrementador (cambioValor)="progreso1=$event " 
                            nombre="Progress Azul" [progreso]="progreso1">
        </app-incrementador> 
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-md-6">
    <div class="card">
      <div class="card-header">
        Card title
      </div>
      <div class="card-body">
        <app-incrementador (cambioValor)="progreso2= $event" nombre="Progress amarillo" [progreso]="progreso2"></app-incrementador> 
      </div>
    </div>
  </div><!--/.col-->
</div>
