<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover" *ngIf="usuarios.length > 0">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios" class="pointer" [routerLink]="['/menu/usuario']" routerLinkActive="router-link-active" >
              <td>
                <img [src]="usuario.img | imagen:'usuarios' " class="img-thumbnail pointer" width="60" alt="admin@bootstrapmaster.com">
              </td>
              <td>{{usuario.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="usuarios.length === 0">
            No hay registros !!!
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medicos</h4>
        <table class="table table-hover" *ngIf="medicos.length > 0">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos" class="pointer" [routerLink]="['/menu/medicos/nuevo', medico._id]" routerLinkActive="router-link-active">
              <td>
                <img [src]="medico.img | imagen:'medicos' " class="img-thumbnail pointer" width="60" alt="admin@bootstrapmaster.com">
              </td>
              <td>{{medico.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="medicos.length === 0">
          No hay registros
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover" *ngIf="hospitales.length > 0">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitales" class="pointer" [routerLink]="['/menu/hospitales']" routerLinkActive="router-link-active">
              <td>
                <img [src]="hospital.img | imagen:'hospitales' " class="img-thumbnail pointer" width="60" alt="admin@bootstrapmaster.com">
              </td>
              <td>{{hospital.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="hospitales.length === 0">
            No hay registros
        </div>
      </div>
    </div>
  </div>
</div>