<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="searchUser( input.value )" placeholder="Igrese nombre a buscar"  
                type="text" class="form-control">
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-md-12">
    <div class="alert alert-warning text-center">

      <strong>Cargando...</strong>
      <br>
      <i class="fa fa-refresh fa-2x fa-spin"></i>
      <span>Espere por fabor</span>
    </div>

  </div>
</div>
<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Listado de Usuarios
        <i class="fa fa-align-justify"></i> Total de Usuarios {{totalRegistros}}
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Role</th>
              <th>Tipo usuario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuario">
              <td>
                <img (click)="viewModal(usuario._id)" [src]="usuario.img | imagen:'usuarios'" class="img-thumbnail pointer" width="60" alt="admin@bootstrapmaster.com">
              </td>
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.email}}</td>
              <td>
                <select [(ngModel)]="usuario.role" class="form-control" name="role" id="">
                  <option value="ADMIN_ROLE">ADMIN_ROLE</option>>
                  <option value="USER_ROLE">USER_ROLE</option>>
                </select>
              </td>
              <td>
                <span *ngIf="!usuario.google" class="badge badge-info">Normal</span>
                <span *ngIf="usuario.google" class="badge badge-success">Google</span>
              </td>
              <td class="text-center">
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-cog"></span>Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a  class="dropdown-item pointer">
                              <span class="fa fa-eye"></span> Ver Usuario
                        </a>
                        <a class="dropdown-item pointer" (click)="deletedUser(usuario)">
                          <span  class="fa fa-trash"></span> Eliminar Usuario
                        </a>
                        <a class="dropdown-item pointer" (click)="updateUser(usuario)" >
                          <span class="fa fa-pencil-square-o"></span> Guardar Usuario
                        </a>
                        <!-- Button modal -->
                        <a class="dropdown-item pointer" data-toggle="modal" (click)="viewModal(usuario)"  >
                          <span class="fa fa-pencil-square-o"></span> Cambiar imagen
                        </a>
                      </div>
                    </div>
                </td>
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center" 
                      [collectionSize]="paginacion" 
                      [(page)]="page"
                      [maxSize]="4"
                      (pageChange)="next(page)">
        </ngb-pagination> 
      </div>
    </div>
  </div>
<app-modal-upload></app-modal-upload>