<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="searchMedico( input.value )"
               placeholder="Igrese nombre de hospital a buscar"
               type="text" class="form-control">
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-md-12">
    <div class="alert alert-warning text-center">

      <strong>Cargando...</strong>
      <br>
      <i class="fa fa-refresh fa-2x fa-spin"></i>
      <span>Espere por fabor</span>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button (click)="newMedico()" type="button" class="btn btn-outline-primary">Crear Medico</button>
  </div>
  <br>
</div>
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Listado de Medicos
      <i class="fa fa-align-justify"></i> Total de Medicos
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Hospital</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medico of medicos">
            <td>
              <img (click)="viewModal(medico._id)" [src]="medico.img | imagen:'medicos' " class="img-thumbnail pointer" width="60"
                alt="admin@bootstrapmaster.com">
            </td>
            <td>
              <input type="text" [(ngModel)]="medico.nombre" class="form-control">
            </td>
            <td>
              {{medico.hospital.nombre}}
            </td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <span class="fa fa-cog"></span>Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item pointer"  (click)="viewMedico(medico._id)">
                    <span class="fa fa-eye"></span> Ver Medico
                  </a>
                  <a class="dropdown-item pointer" (click)="deletedMedico(medico)">
                    <span class="fa fa-trash"></span> Eliminar Medico
                  </a>
                  <a class="dropdown-item pointer" (click)="updateMedico(medico)">
                    <span class="fa fa-pencil-square-o"></span> Guardar Medico
                  </a>
                </div>
              </div>
            </td>
        </tbody>
      </table>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="paginacion" 
                                                            [(page)]="page" [maxSize]="4" 
                                                            (pageChange)="next(page)">
      </ngb-pagination>
    </div>
  </div>
</div>
<app-modal-upload></app-modal-upload>