<!-- alta de medico -->
<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" ngNativeValidate (ngSubmit)="saveMedico(f)" >
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre del Medico</label>
        <input [(ngModel)]="medico.nombre" name="nombre" type="text" required  class="form-control" id="" placeholder="nombre del medico">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Hospital</label>
        <select (change)="changeHospital( $event.target.value )" [(ngModel)]="medico.hospital._id" name="hospital" class="form-control" id="exampleFormControlSelect1">
          <option value="">Seleccione un Hospital</option>
          <option *ngFor="let hospital of hospitales" [value]="hospital._id" >{{hospital.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-success" >Guardar</button>
        <a [routerLink]="['/menu/medicos']" class="btn btn-danger" >Cancelar</a>
      </div>
    </form>
  </div><br><br>
  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Hospital</h4>
      <img  [src]="hospital.img | imagen:'hospitales' " class="img-thumbnail img-fluid" width="100" alt="admin@bootstrapmaster.com" alt="">
    </div>
  </div>
  <div class="col-md-3" *ngIf="medico.nombre">
    <div class="card card-body">
      <div class="box-title m-b-0">
        <h4>Fotografia</h4>
        <img (click)="viewModal(medico._id)" [src]="medico.img | imagen:'medicos' " class="img-thumbnail img-fluid pointer" width="100" alt="admin@bootstrapmaster.com" alt="">
      </div>
    </div>
  </div>
</div>
<app-modal-upload></app-modal-upload>