<div class="row">
  <div class="col-sm-7">
    <div class="card">
      <div class="card-header bg-info">
        Perfil del Usuario
      </div>
      <div class="card-body">
        <form ngNativeValidate #f="ngForm" (ngSubmit)="updateUser(f.value)" >
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input [ngModel]="usuario.nombre" class="form-control" name="nombre"  required  placeholder="Username" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input [ngModel]="usuario.email" [disabled]="usuario.google" required class="form-control" id="email" name="email" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-md btn-block btn-outline-info" (click)="updateUser(f.value)" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card" >
      <div class="card-header bg-info text-center">
        Fotagrafia del Usuario
      </div>
      <div class="card-body text-center ">
        <form action="" method="post">
          <div class="form-group">
              <img *ngIf="imagenTemp" [src]="imagenTemp"  class="img-thumbnail" alt="">
              <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="img-thumbnail" alt="">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input class="form-control" (change)="selectionImagen( $event.target.files[0] )" id="imagen" name="imagen" type="file">

            </div>
          </div>
          <div class="form-group form-actions">
            <button class="btn btn-md btn-block btn-outline-info" (click)="changeImage()" [disabled]="!imagenSubir" type="button">Actualizar foto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
