<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <form ngNativeValidate #f="ngForm" class="card p-4" (ngSubmit)="ingresar(f)">
            <div class="card-body" >
              <h1>Iniciar sesión</h1>
              <p class="text-muted">Iniciar sesión en su cuenta</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input [ngModel]="email" name="email" type="email" required class="form-control" placeholder="ingresar correo">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" ngModel name="password" required class="form-control" placeholder="Password">
              </div>
              <div class="input-group mb-4">
                Recordar Credenciales 
                <input type="checkbox" [(ngModel)]="recuerdame" name="recuerdame" class="" placeholder="Password">
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit"   class="btn btn-primary px-4">Ingresar</button>
                </div>
                <button id="googleBtn"  class="btn btn-google-plus"  type="button"><span>Google +</span></button>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
            </div>
          </form>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Regístrate</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" routerLink='/register' class="btn btn-primary active mt-3">Register Now!</button>
              </div>
                  <div id="googleBtn">Google</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
