<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registerUser()" class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" formControlName="nombre" name="nombre" required class="form-control" placeholder="Username or name">
            </div>
            
            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input type="email" formControlName="email" name="email" required class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" formControlName="password" name="password" required class="form-control" placeholder="Password">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" formControlName="password2" name="password2" required class="form-control" placeholder="Repeat password">
            </div>
            <div>
              <p class="text-danger" *ngIf='forma.errors?.sonIguales && !forma.pristine'>
                  Las contraseñas deben de ser iguales
              </p>
            </div>

            <div class="input-group mb-4">
              <input type="checkbox" formControlName="condiciones"  name="condiciones" >Acepta Terminos y  condiciones
            </div>

            <button type="submit" class="btn btn-block btn-success">Create Account</button>
          </form>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button id="btnGoogl" class="btn btn-block btn-google-plus" type="button"><span>Google +</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>