.pointer{
    cursor: pointer;
}
.fondo-black{
    background-color: rgb(0, 0, 0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
/* clase oculta el modal de cambiar foto
*/
.oculto {
    display: none;
}