<!-- Modal -->
<div class="fondo-black" [ngClass]="_modalUploadService.oculto" >
  <div class="modal fade" class="modal" style="display: block;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" (click)="cloceModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group text-center">
          <img *ngIf="imagenTemp" [src]="imagenTemp"  class="img-thumbnail" width="200" alt="" >
          <img *ngIf="!imagenTemp" [src]=" 'xxx' | imagen" class="img-thumbnail" width="200" alt="">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input class="form-control" (change)="selectionImagen( $event.target.files[0] )" id="imagen" name="imagen" type="file">

        </div>
      </div>
        <div class="modal-footer">
          <button type="button" (click)="cloceModal()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-md btn-block btn-outline-info" (click)="sendFile()" [disabled]="!imagenSubir" type="button">Subir imagen</button>
        </div>
      </div>
    </div>
  </div>
</div>
