<h3>{{leyenda}}</h3>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-primary" (click)="cambiarValor(-5)" type="button">
      <i class="fa fa-minus-circle "></i>
    </button>
  </div>
  <input #txtprogress type="number" class="form-control" 
        min="1" max="100" (ngModelChange)="onChange($event)"
        name="progreso" [(ngModel)]="progreso" 
        placeholder="" aria-label="" aria-describedby="basic-addon1">
  <button class="btn btn-outline-primary" (click)="cambiarValor(+5)" type="button">
    <i class="fa fa-plus"></i>
  </button>
</div> 