<div class="row">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Theme colors
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#20a8d8')" class="bg-primary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          Brand Primary Color
          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#20a8d8</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(32, 168, 216)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#c8ced3')" class="bg-secondary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Secondary Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#c8ced3</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(200, 206, 211)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#4dbd74')" class="bg-success theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Success Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#4dbd74</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(77, 189, 116)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#f86c6b')" class="bg-danger theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Danger Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#f86c6b</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(248, 108, 107)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#ffc107')" class="bg-warning theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Warning Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#ffc107</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(255, 193, 7)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#20a8d8')" class="bg-info theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Info Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#63c2de</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(99, 194, 222)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#f0f3f5')" class="bg-light theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Light Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#f0f3f5</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(240, 243, 245)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div (click)="cambiarColor('#29363d')" class="bg-dark theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Brand Dark Color</h6>

          <table class="w-100">
            <tbody>
              <tr>
                <td class="text-muted">HEX:</td>
                <td class="font-weight-bold">#2f353a</td>
              </tr>
              <tr>
                <td class="text-muted">RGB:</td>
                <td class="font-weight-bold">rgb(47, 53, 58)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>