<div class="row">

  <div class="col-sm-6 col-md-6">
    <div class="card">
      <div class="card-header">
        {{graficos.grafico1.leyenda}}
      </div>
      <div class="card-body">
        <app-grafico-dona [ChartLabels]="graficos.grafico1.labels" [ChartData]="graficos.grafico1.data" ChartType="doughnut">
        </app-grafico-dona>
      </div>11
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="card">
      <div class="card-header">
        {{graficos.grafico2.leyenda}}
      </div>
      <div class="card-body">
        <app-grafico-dona [ChartLabels]="graficos.grafico2.labels" [ChartData]="graficos.grafico2.data" ChartType="doughnut">
        </app-grafico-dona>
      </div>
    </div>
  </div>
</div>